<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Editorial</th>
            <th>Fecha</th>
            <th>Género</th>
            <th>Autor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% Libros.forEach(libro => { %>
            <tr>
                <td><%= libro.Id_Libros %></td>
                <td><%= libro.Titulo %></td>
                <td><%= libro.Editorial %></td>
                <td><%= libro.Fecha_P %></td>
                <td><%= libro.Genero %></td>
                <td><%= libro.Autor %></td>
                <td>
                    <a href="/vender/<%= libro.Id_Libros %>" class="btn btn-sm btn-success">Vender</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

</body>
</html>